.heading {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('./images/image1.jpeg');
    background-position: center;
}

.brushes_header {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.price { 
    font-family: Helvetica;
    font-weight: bold;
    color: blue
}

.frames{
    background-color:lightcoral;
}

.paint{
    background-color: skyblue;
}